@model IEnumerable<APPDEV.Models.Trainee>
@{
    ViewBag.Title = "CourseTrainees";
}

<h2 class="text-center">TRAINEES IN THIS COURSE</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Trainees</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.User.Email</td>
            </tr>
        }
    </tbody>
</table>