@{
    ViewBag.Title = "Home Page";
}
<body>

   
   
    <img src="https://c.wallhere.com/photos/b1/9a/while_True_learn_video_games_Video_Game_Art-1549071.jpg!d" width="1100" class="img-fluid" alt="...">
</body>